*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
/* body{
    background-color: burlywood;
    height: 100vh;
    width: 100vw;
} */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: cyan;
}
section{
    background-color: red;
    position: relative;
    padding: 0 2rem;
    width: 100vw;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar .logo a{
    font-size: 1.5rem;
}
.navbar .link{
    display: flex;
    gap: 2rem;
}
.navbar .tbtn {
     color: white;
     font-size: 1.5rem;
     cursor: pointer;
     display: none;
}
.abtn{
    background-color: black;
    color: blueviolet;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.3s ease;
}
.abtn:hover{
    color: cyan;
    scale: 1s;
}
.abtn:active{
    scale: 0.9s;
}
.con{
    display: flex;
    position: relative; 
    width:100vw;
    height: 100vh;
    background-color: black;
    color: white;
    padding: 45px;
    justify-content: space-between;
    
}
.con1{
    top: 130px;
    position: relative; 
}
.h1{
    font-size: 69px;
    font-weight: 600;
}
.p{
    font-size: 25px;
}
.btn{
    background-color: blue;
    color: white;
    width: 120px;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: scale 0.3s ease;
}
.btn:hover{
    background-color: cyan;
    color: blue;
    /* scale: 1s; */
}
.playbtn{
    border-radius: 50%;
    border: none;
    width: 38px;
    height: 38px;
    background-color: #2e76f7;
    cursor: pointer;
}

.playlink{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.bx-play{
    font-size: 30px;
    padding: 5px;
    color: #fff;
}
.smallsmall{
    display:flex;
    position: absolute;
    top: 81%;
    left: 400px;
    gap: .5rem;
    padding: 100px 0 0 550px;
}
.small{
    width: 20px;
    height: 2px;
    background-color: #2e76f7;
    border-radius: 10px;
    border: none;
}
.beef{
    background-color: white;
}
/* .img1{
    padding: 45px;

} */



/* dropdownmenu */
.dropdownmenu{
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    width: 300px;
    /* height: 0; */
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdownmenu .open{
    height: 240px;
}
.dropdownmenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownmenu .abtn{
    width: 100%;
    display: flex;
    justify-content: center;
}
/* reponsive desktop */
@media(max-width: 900px) {
    .navbar .link,
    .navbar .abtn{
        display:none;
    }
    .navbar .tbtn{
        display: block;
    }
    .dropdownmenu{
        display: block;
    }
    
}